{#文章归档页#}
{% extends 'base.html' %}
{% load staticfiles %}
{% load myfilter %}

{% block left_content %}
<div class="topnews">

      <h2>{{ request.GET.year }}年{{ request.GET.month }}月 文章归档</h2>

{% for article in archive_article_list %}

      <div class="blogs">
        <ul>
{#        文章标题#}
          <h3><a href="{% url 'article' %}?id={{ article.id }}&category={{ article.category }}">

            {% if article.is_top %}
                       <img  style="float: left; height:50px;margin-right: 5px " src="{% static 'images/置顶.png' %}" alt="">
            {% endif %}

              {{ article.title }}

            {% if article.is_recommend %}&nbsp;
                 <img  style="float:right; height:50px;margin-right: 30px " src="{% static 'images/推荐.png' %}" alt="">
            {% endif %}

          </a></h3>

{#        文章简介#}
          <p>{{ article.desc | truncate_filter }}</p>

{#        文章信息#}
          <p class="autor">

{#          作者#}
            <img style="width: 15px; height: 15px;float: left;padding: 5px 5px 5px 0px " src="{{ MEDIA_URL }}{{ article.author.avatar }}" alt="">
            <span class="f_l" style="margin: 0px 0px;padding-left: 0px;line-height: 25px">{{ article.author }}&nbsp&nbsp&nbsp&nbsp</span>

{#          发布日期#}
              <span class="dtime f_l">{{ article.date_publish | date:'Y-m-d' }}</span>

{#          标签#}
          <span class="lm f_l">
              {% for tag in article.tag.all %}
                    <a href="{% url 'tag' %}?tid={{ tag.id }}&category={{ category }}">{{ tag.name }}</a>&nbsp;
              {% endfor %}
          </span>

{#          浏览量#}
              <span class="viewnum f_r">浏览（<a href="{% url 'article' %}?id={{ article.id }}">{{ article.click_num }}</a>）</span>

{#          评论数#}
              <span class="pingl f_r">评论（<a href="{% url 'article' %}?id={{ article.id }}">{{ article.comment_set.all.count }}</a>）</span>
          </p>
        </ul>
      </div>

{% endfor %}

    </div>

{% include 'category_pagination.html' %}

{% endblock %}