{#全网主页/首页#}
{% extends 'base.html' %}
{% load staticfiles %}
{% load myfilter %}


{% block left_content %}

    <div class="topnews">

      <div class="blogs">
        <ul>

            <img  onclick="this.style.width=670;this.style.float=''"
                style="width: 100px; margin: 5px 20px 5px 0px;float: left " src="{{ MEDIA_URL }}{{ goldenwords.photo }}" alt="">

            “ <span style="font-weight: bold;font-size: 15px;color:#ffb91c;line-height:45px">{{ goldenwords.content }}</span>”
            <br>【应用场景 ：<span style="color: green">{{ goldenwords.application }}</span> 】


          <p class="autor" style="margin: 0px;padding: 5px;line-height: 25px">

           {% ifequal goldenwords.publisher.username '四叶草' %}
              <a href="{% url 'index' %}?category=四叶草">
          {% else %}
              <a href="{% url 'Member_detail' %}?id={{ goldenwords.publisher.id | M_id }}&category=会员">
          {% endifequal %}
            <img style="border-radius:50%;width: 15px; height: 15px;float: left;padding: 5px 5px 5px 0px " src="{{ MEDIA_URL }}{{ goldenwords.publisher.avatar }}" alt="">
            <span class="f_l" style="margin: 0px 0px;padding-left: 0px;line-height: 25px">{{ goldenwords.publisher.username }}&nbsp&nbsp&nbsp&nbsp</span>
          </a>

{#          发布日期#}
              <span class="dtime f_l">{{ goldenwords.copyright }}于{{ goldenwords.date_publish | date:'Y-m-d' }}</span>

{#          标签#}
          <span class="lm f_l">
              {% for tag in goldenwords.tag.all %}
                    <a href="{% url 'tag' %}?tid={{ tag.id }}&category={{ category | urlencode }}">{{ tag.name }}</a>&nbsp;
              {% endfor %}
          </span>

{#          浏览量#}
              <span class="viewnum f_r">浏览（{{ goldenwords.click_num }}）</span>
              <span class="" style="font-family:微软雅黑;color:red;font-size:13px;font-weight:bold; "> {{ goldenwords.is_top | is_top }}</span>
              <span class="" style="font-family:微软雅黑;color:red;font-size:13px;font-weight:bold; "> {{ goldenwords.is_recommend | recommend }}</span>

              <span style="color: crimson" class="btn f_r" data-clipboard-text="{{ goldenwords.content }}">掘金</span>

{#          评论数#}
              <span class="pingl f_r">评论（{{ goldenwords.comment_set.all.count }}）</span>
          </p>
        </ul>
      </div>
    </div>


{# 评论区 #}
<div style="margin: 30px 0px 60px 0px">
        {# 新增评论 #}
        {% if not request.user.is_authenticated %}
            <div  style="text-align: center;"><button class="login"><a style="cursor: pointer; color: crimson;" href="{% url 'login' %}?next={{ request.get_full_path }}"> 评论 </a></button></div>
        {% else %}
            {#    评论表单#}
            <div id="comment_form" hidden >
                <form action="{% url 'comment_post' %}?next={{ request.get_full_path }}&category={{ category | urlencode }}" method="post">
                    {% csrf_token %}
                    <div id="div1" style="height:180px;max-height:500px;" ></div>
                    <textarea id="content" hidden name="content" style="height:60px;width:650px;margin: 10px;resize: none;" >''</textarea>
                    <input type="hidden" name="id" value="{{ id }}"/>
                    <button id="submit" class="login" style="cursor: pointer; color: crimson;float: right">发布 </button>
                </form>
                <button id="cancelbnt" hidden  class="login" style="cursor: pointer; color: crimson;float: right"> 取消 </button>
            </div>
            <div style="text-align: center;"><button id="commentbnt"  class="login" style="cursor: pointer; color: crimson;"> 评论 </button></div>
        {% endif %}

        {# 显示评论 #}
        <div>
        {% for comment in comment_list %}
            <div style="float: left;height:auto;margin-bottom: 10px;">
                <div style="float: left; text-align:center;height:33px;width:33px; margin: 10px; padding-top: 3px">

                {% ifequal comment.user.username '四叶草' %}
                    <a href="{% url 'index' %}?category=四叶草">
                {% else %}
                    <a href="{% url 'Member_detail' %}?id={{ comment.user.id }}&category=会员">
                {% endifequal %}
                      <img alt='' src='{{ MEDIA_URL }}{{comment.user.avatar }}'  height='33px' width='33px' />
                    </a>

                </div>
                  {# 留言内容 #}
                  <div class="body" style="float: left;margin: 10px; width:590px">

                      <p style="line-height: 20px;color:darkslategray;padding: 0px 0px 5px 5px">


                        {% ifequal comment.user.username '四叶草' %}
                            <a href="{% url 'index' %}?category=四叶草">
                        {% else %}
                            <a href="{% url 'Member_detail' %}?id={{ comment.user.id | M_id }}&category=会员">
                        {% endifequal %}
                                <span style="color:{{ comment.user.gender | sex }}; font-weight: bold  ">
                                    {{ comment.user.username }}
                                </span>
                            </a>

                          &nbsp&nbsp发表于 {{ comment.date_publish | date:'Y-m-d H:i' }}
                      </p>

                      <div class="{{ comment.user.gender | Chat_bubble }}">
                            {{ comment.content | safe }}
                      </div>
                  </div>
             </div>
        {% endfor %}
        </div>
</div>



<script>
var clipboard = new ClipboardJS('.btn');
clipboard.on('success', function(e) {
    alert('复制成功！')
});
clipboard.on('error', function(e) {
    console.log(e);
});
</script>

{% include 'category_pagination.html' %}

{% endblock %}